@import '//at.alicdn.com/t/font_435259_0fcjk72ldqwd0a4i.css';
.iconfont {
  font-size: 1.375rem;
  margin: 0 1px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  opacity: 0.9;
}
.iconfont:hover {
  color: #e26d6d;
}
.icon-menu-search {
  font-size: 18px;
  cursor: pointer;
}
.icon-menu {
  font-size: 1.25rem;
}
.icon-tag-inner {
  font-size: 15px;
}
.icon-left,
.icon-right {
  font-size: 0.9em;
}
.icon-date {
  font-size: 0.8rem;
}
.icon-words {
  font-size: 1.1rem;
}
.icon-eye {
  font-size: 1.1rem;
}
.icon-tag,
.icon-category {
  font-size: 0.9rem;
}
.icon-posts {
  font-size: 1.2rem;
}
.icon-open,
.icon-close {
  font-size: 0.8em;
}
.icon-search {
  font-size: 15px;
}
.icon-cancel {
  cursor: pointer;
}
.icon-share,
.icon-donate {
  font-size: 0.9rem;
}
.icon-donate-wechat,
.icon-donate-alipay {
  font-size: 1.6rem;
}
.icon-pv,
.icon-uv {
  font-size: 1.2em;
}
.icon-backtotop {
  font-size: 2.5rem;
}
.icon-location {
  font-size: 0.825rem;
  margin: 0 5px;
}
.header-logo,
.header-menu-link,
.cate-name,
.toc-list,
list-style-type none,
.toc-item,
.toc-subitem,
.post-time,
.post-words,
.post-visitor,
.post-meta,
.search-title,
.search-content {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.block {
  heigth: auto;
  margin: 0.8em 0;
  padding: 0.6em;
}
.donate-btn,
.share-btn,
.post-nav span,
.tag-wrap,
.prev,
.next {
  margin: 3px 2px;
  padding: 0.5rem 0.825rem;
  display: inline-block;
  line-height: 1.825rem;
  font-size: 0.825rem;
  border: 1px solid #d5dce5;
  border-radius: 999em;
  transition: all 0.2s ease;
}
.donate-btn:visited,
.share-btn:visited,
.post-nav span:visited,
.tag-wrap:visited,
.prev:visited,
.next:visited,
.donate-btn:active,
.share-btn:active,
.post-nav span:active,
.tag-wrap:active,
.prev:active,
.next:active,
.donate-btn:link,
.share-btn:link,
.post-nav span:link,
.tag-wrap:link,
.prev:link,
.next:link {
  color: rgba(0,0,0,0.7);
}
.donate-btn:hover,
.share-btn:hover,
.post-nav span:hover,
.tag-wrap:hover,
.prev:hover,
.next:hover {
  background: rgba(255,255,255,0.2);
  color: #e26d6d;
  border: 1px solid #e26d6d;
}
.post-content p a {
  position: relative;
  cursor: pointer;
}
.post-content p a:hover {
  color: #e26d6d;
}
.post-content p a::after {
  content: " ";
  width: 0;
  height: 1.5px;
  background: #e26d6d;
  position: absolute;
  top: 99%;
  right: 0;
  transition: all 0.4s;
}
.post-content p a:hover:after {
  left: 0;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 1.25;
  color: #404040;
  word-spacing: 0.5px;
}
h1 {
  font-size: 1.5rem;
  margin: 50px 0 40px 0;
}
h2 {
  margin: 40px 0 0 0;
  font-size: 1.25rem;
}
h3 {
  margin: 40px 0 0 0;
  font-size: 1.125rem;
}
h4,
h5,
h6 {
  font-size: 1rem;
}
p {
  font-weight: 300;
  letter-spacing: 0.4px;
  word-spacing: 0.5px;
  color: #000;
  margin: 28px 0;
  line-height: 1.8;
  font-size: 0.9rem;
}
strong {
  font-weight: 500;
}
blockquote {
  display: block;
  letter-spacing: 0.4px;
  font-size: 1rem;
  padding: 0 12px;
  margin: 40px 0;
}
blockquote p {
  margin: 0;
  padding-left: 10px;
  border-left: 3px solid #727272;
}
hr {
  margin: 1em 0;
  opacity: 0.2;
  border: 0.2px solid #ccc;
}
ul,
ol {
  margin-left: 22px;
  padding-left: 0px;
}
ul p,
ol p {
  margin: 0;
}
li {
  font-size: 0.825rem;
  margin: 8px 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
  margin: 28px 0;
}
th {
  font-size: 0.9rem;
}
th,
td {
  border: 1px solid #ddd;
  padding: 0.4em 1em;
  font-weight: 300;
  margin: 28px 0;
}
body {
  width: 100%;
}
pre,
.highlight {
  overflow: auto;
  margin: 20px 0;
  padding: 0;
  font-size: 0.9rem;
  color: #4d4d4c;
  background: #eee;
  line-height: $line-height-code-block;
}
pre,
code {
  font-family: 'Helvetica', 'consolas';
}
code {
  padding: 2px 4px;
  word-wrap: break-word;
  color: $code-foreground;
  background: $code-background;
  border-radius: $code-border-radius;
  font-size: 0.9rem;
}
pre {
  padding: 10px;
}
pre code {
  padding: 0;
  color: #4d4d4c;
  background: none;
  text-shadow: none;
}
.highlight {
  border-radius: 3px;
  position: relative;
}
.highlight pre {
  border: none;
  margin: 0;
  padding: 10px 0;
}
.highlight table {
  margin: 0px;
  width: auto;
  border: none;
}
.highlight td {
  border: none;
  padding: 0;
}
.highlight figcaption {
  font-size: 1em;
  color: #4d4d4c;
  line-height: 1em;
  margin-bottom: 1em;
}
.highlight figcaption:before,
.highlight figcaption:after {
  content: " ";
  display: table;
}
.highlight figcaption:after {
  clear: both;
}
.highlight figcaption a {
  float: right;
  color: #4d4d4c;
}
.highlight figcaption a:hover {
  border-bottom-color: #4d4d4c;
}
.highlight .gutter pre {
  padding-left: 10px;
  padding-right: 10px;
  color: #869194;
  text-align: right;
  background-color: #eee;
}
.highlight .code pre {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #eee;
}
.highlight .line {
  display: block;
  height: 22px;
  border: none;
}
.highlight .marked {
  width: 100%;
  border-left: 2px solid #727272;
  margin: 0.5em 0;
  padding-left: 0.5em;
}
.gutter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.gist table {
  width: auto;
}
.gist table td {
  border: none;
}
pre .deletion {
  background: #fdd;
}
pre .addition {
  background: #dfd;
}
pre .meta {
  color: #c397d8;
}
pre .comment {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #e24c38;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant,
pre .command {
  color: #e78c45;
}
pre .ruby .class .title,
pre .css .rules .attribute,
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata,
pre .special,
pre .number,
pre .formula {
  color: #360;
}
pre .title,
pre .css .hexcolor {
  color: #70c0b1;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #7aa6da;
}
pre .keyword,
pre .javascript .function {
  color: #e24c38;
}
html,
body {
  height: 100%;
  width: 100%;
  background: #fafafa;
  letter-spacing: 0.3px;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  font: 300 15px apple-system, BlinkMacSystemFont, 'Microsoft YaHei', 'Arial';
  margin: 0;
  padding: 0;
}
body:before,
body:after {
  content: " ";
  display: table;
}
body:after {
  clear: both;
}
@media screen and (min-width: 1600px) {
  html {
    font-size: 20px;
  }
}
a {
  text-decoration: none;
  transition: all 0.2s ease;
}
a:link,
a:visited,
a:active {
  color: #333;
}
a:hover {
  color: #e26d6d;
}
img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}
time {
  font-size: 0.825rem;
  font-weight: 300;
}
time:hover {
  color: #e26d6d;
}
.page-title {
  text-align: center;
  display: block;
  margin-bottom: 1.5em;
  line-height: 10px;
  letter-spacing: 0.6px;
  color: rgba(0,0,0,0.5);
  font-size: 1.25rem;
}
.page-title:hover {
  color: #e26d6d;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  text-align: center;
}
.mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: rgba(0,0,0,0.2);
}
.back-to-top {
  display: none;
  position: fixed;
  cursor: pointer;
  z-index: 20;
  bottom: 8%;
  left: 92%;
}
.back-to-top:hover {
  color: #e26d6d;
}
.container {
  margin-top: 1.8rem;
  padding: 0 1.8rem;
}
#main {
  padding-top: 10px;
}
.container {
  margin-top: 48px;
  padding: 0 1rem;
}
#main {
  margin: 0 auto;
  width: 52%;
}
#toc {
  padding: 1.8em 0;
  position: absolute;
  width: 250px;
  height: 100%;
  top: 16%;
  left: 80%;
  overflow: hidden;
}
@media screen and (max-width: 479px) {
  #toc {
    display: none;
  }
}
::selection {
  background: #727272;
  color: #fff;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #ccc;
}
@media screen and (max-width: 479px) {
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 2px;
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #555;
}
.header {
  width: 100%;
  border-bottom: 1px solid #eee;
}
.header-nav {
  margin: 0 auto;
  max-width: 56%;
  height: 4rem;
  line-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  display: inline-block;
  max-width: 40%;
  font: 1.625rem 'Century Gothic', 'Microsoft YaHei', 'Arial';
}
.header-menu {
  display: flex;
  justify-content: flex-end;
  white-space: nowrap;
}
.header-menu-link {
  margin: 0 0.85rem;
  font-size: 0.9rem;
  display: inline-block;
  letter-spacing: 1px;
}
.header-static {
  position: static;
  background-color: #fafafa;
}
.header-fixed {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  opacity: 0.8;
  background-color: #fff;
  transition: all 0.6s;
}
.header-menu-active {
  border-bottom: 1px solid #454545;
}
.header-title {
  font-size: 1.55rem;
}
.mobile-toggle {
  display: none;
  position: absolute;
  margin: 0 auto;
  padding: 0;
  left: 20px;
  margin-left: -9px;
}
.mobile-menu {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 200px;
  height: 100%;
  background-color: #fafafa;
  z-index: 999;
  padding-top: 26px;
  text-align: center;
}
.mobile-menu-link {
  display: block;
  padding: 18px 16px;
  line-height: 1;
  letter-spacing: 0.6px;
}
.mobile-menu-icon {
  margin: 30px;
  width: 40px;
}
#footer {
  display: flex;
  justify-content: space-between;
  line-height: 3rem;
  margin: 5rem 15% 1rem 15%;
  padding: 3rem 0;
  font-size: 0.85rem;
  color: rgba(0,0,0,0.5);
  border-top: 1px solid #eee;
}
#footer a {
  color: #e26d6d;
}
#footer a:hover {
  color: #000;
}
.post-header {
  position: relative;
}
.post-header:after {
  position: absolute;
  content: " ";
  bottom: -2rem;
  left: 30%;
  width: 40%;
  height: 1px;
  background: #eee;
}
.post-title {
  display: block;
  font-size: 38px;
  font-weight: 200;
  color: rgba(0,0,0,0.7);
  margin: 0.5rem 0 2rem 0;
}
.post-content {
  margin: 5.5rem 0;
}
.post-content p a:link,
.post-content li a:link,
.post-content p a:visited,
.post-content li a:visited,
.post-content p a:active,
.post-content li a:active {
  color: #e26d6d;
}
.post-content p a:hover,
.post-content li a:hover {
  color: #000;
}
.post-footer {
  position: relative;
  padding: 1rem 0;
  text-align: right;
}
.donate-btn,
.share-btn {
  cursor: pointer;
  padding: 4px 12px;
  border-radius: 50%;
}
#donate-box {
  display: none;
  width: 400px;
  height: 320px;
  padding: 20px 0;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -200px;
  margin-left: -180px;
  border-radius: 10px;
  z-index: 999;
  text-align: center;
  background: #fafafa;
}
.donate-cancel {
  position: absolute;
  top: 0;
  right: 24px;
  width: 12px;
}
.donate-img-box {
  width: 240px;
  margin: 0 auto;
}
.donate-word {
  display: inline-block;
  font-family: $thin-font;
  font-weight: 300;
  margin: 10px 0;
  font-size: 0.9rem;
}
.donate-list {
  padding-bottom: 20px;
  height: 30px;
}
.donate-active {
  color: #e26d6d;
}
.-mob-share {
  display: none;
  position: absolute;
  top: -2.825rem;
  right: 0;
  padding: 5px 8px;
  border: 1px solid #eee;
  border-radius: 999em;
}
.-mob-share span {
  padding: 4px;
  font-size: 1.125rem;
  cursor: pointer;
  opacity: 0.7;
}
.-mob-share span:hover {
  color: #e26d6d;
}
.post-nav {
  margin: 1em 0 4em;
  padding-bottom: 1em;
  overflow: hidden;
  font-weight: 300;
  font-size: 1.2em;
  border-bottom: 1px solid #eee;
  text-align: center;
}
.post-nav span {
  font-size: 0.95rem;
  padding: 4px 12px;
  margin: 0 0.3rem;
}
#comment {
  margin: 1rem 0 4rem;
  padding-bottom: 1rem;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}
#comment div {
  margin: left;
}
.power,
.vempty,
.col-60 {
  visibility: hidden;
}
.vnick,
.veditor,
.vmail,
.vempty,
.vsubmit {
  font-family: apple-system, BlinkMacSystemFont, 'Microsoft YaHei', 'Arial';
  font-size: 1rem;
  border-bottom: 0 !important;
}
.vsubmit {
  background-color: #f5f6fa !important;
  border: 0 !important;
  padding: 0 3px !important;
  color: rgba(0,0,0,0.5) !important;
  font-weight: 300 !important;
  letter-spacing: 0.3px;
}
.vsubmit:hover {
  color: #e26d6d !important;
}
.vcard {
  padding: 5px 0 0 20px !important;
}
.article {
  margin: 0px 0 80px 0;
  padding: 20px 0 50px 0;
  border-bottom: 1px solid #eee;
  opacity: 0;
}
.article-header {
  padding: 0 0 12px;
  text-align: center;
}
.article-header time {
  color: rgba(0,0,0,0.5);
}
.article-title {
  font-size: 1.625rem;
  margin: 0 0 10px;
  padding: 0 4px;
  display: block;
}
.article-excerpt {
  margin: 0;
  padding: 12px 8px;
  font-size: 1rem;
}
.article-readmore {
  display: block;
  float: right;
  margin: 0 1rem 0 0;
  font-size: 0.9rem;
}
.article-readmore:link,
.article-readmore:visited,
.article-readmore:active {
  color: #a0a0a0;
}
.article-readmore:hover {
  color: #e26d6d;
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  transition: all 0.2s linear;
}
.banner-brg {
  position: relative;
  left: -1%;
  width: 102%;
  height: 22.5rem;
  background-size: cover;
  background-position: center;
}
.banner-img {
  visibility: hidden;
  width: 100%;
  height: 100%;
}
.gallery-box {
  display: inline-block;
  width: 11.22rem;
  height: 11.22rem;
}
.gallery-brg {
  border-radius: 2px;
  display: block;
  width: 11.22rem;
  height: 11.22rem;
  background-size: cover;
  background-position: center;
}
.gallery-img {
  visibility: hidden;
  width: 100%;
  height: 100%;
}
.meta-block {
  overflow: hidden;
  margin: 0.6em 0.6em 0 0.8em;
}
.meta-name {
  margin: 1em;
  letter-spacing: 1px;
  font-size: 1rem;
}
.tag-wrap {
  display: inline-block;
  margin: 0.4rem 0.3rem;
  padding: 2px 12px;
}
.tag-name {
  font-size: 0.825rem;
}
.cate-container:before,
.cate-container:after {
  content: " ";
  display: table;
}
.cate-container:after {
  clear: both;
}
.cate-container > div {
  display: inline;
  float: left;
  width: 31.666666666666664%;
  margin: 0 0.833333333333333%;
}
.cate-inner {
  padding: 0.8rem;
  margin: 0.5rem 1rem 1rem 1rem;
  border: 1px solid #eee;
  border-radius: 4px;
  overflow: hidden;
}
.cate-inner:hover {
  box-shadow: 3px 3px 3px rgba(0,0,0,0.03);
}
.cate-name {
  display: inline-block;
  width: 100%;
  margin: 1rem 0 1.25rem 0;
}
.cate-count {
  display: block;
  text-align: right;
  font-size: 0.825rem;
}
.archive {
  padding: 0 0rem;
}
.archive ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.archive ul li {
  margin: 0;
  position: relative;
  padding: 1.8rem 0 1.8rem 4rem;
}
.archive ul li:after {
  position: absolute;
  content: " ";
  bottom: 0;
  left: 2%;
  width: 96%;
  height: 0.4px;
  background: #eee;
}
.archive-year {
  dispaly: inline-block;
  font-size: 1.2rem;
  text-align: center;
  margin: 2rem 0;
  color: rgba(0,0,0,0.4);
}
.archive-time {
  position: absolute;
  left: 6rem;
  top: 35px;
  font-size: 1rem;
  color: rgba(0,0,0,0.5);
}
.archive-title {
  display: inline-block;
  margin-left: 12.5rem;
}
.archive-title a {
  font-size: 1.25rem;
  letter-spacing: 1px;
}
.toc-container {
  display: none;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.toc-contents {
  display: block;
  font-size: 1rem;
  color: rgba(0,0,0,0.5);
  cursor: pointer;
}
.toc-list,
list-style-type none,
.toc-item {
  display: block;
  padding-left: 0;
  font-size: 0.825rem;
  margin: 8px 0;
  color: rgba(0,0,0,0.8);
  letter-spacing: 0.5px;
}
.toc-item:hover {
  cursor: pointer;
  color: #e26d6d;
}
.toc-subitem {
  display: block;
  font-size: 0.8rem;
  color: rgba(0,0,0,0.6);
  margin: 8px 0 8px 4px;
}
.toc-subitem:hover {
  cursor: pointer;
  color: #e26d6d;
}
.toc-fixed {
  position: fixed;
  top: 1%;
  left: 80%;
  height: 86%;
}
.toc-active {
  color: #e26d6d;
}
.toc-sub-active {
  color: #e26d6d;
}
.post-time,
.post-words,
.post-visitor,
.post-meta {
  font-size: 0.9rem;
  color: rgba(0,0,0,0.6);
  margin-right: 24px;
  padding: 0.8em 0;
  font-family: 'Times New Roman', 'Georgia', 'serif';
}
.category-link,
.tag-link {
  font-size: 0.825rem;
  font-weight: 300;
  font-family: apple-system, BlinkMacSystemFont, 'Microsoft YaHei', 'Arial';
}
.category-link:visited,
.tag-link:visited,
.category-link:active,
.tag-link:active,
.category-link:link,
.tag-link:link {
  color: #000;
}
.category-link:hover,
.tag-link:hover {
  color: #e26d6d;
}
.paginator {
  margin: 4em 0 2em;
  padding: 10px 0;
  font-size: 0.95rem;
  text-align: center;
  letter-spacing: 1px;
}
.page-number {
  margin: 0 8px;
}
.page-number:hover {
  color: #e26d6d;
}
.prev,
.next {
  padding: 3px 12px;
}
.prev {
  float: left;
}
.next {
  float: right;
}
.current {
  color: #e26d6d;
}
.post-time,
.post-words,
.post-meta {
  font-size: 0.9rem;
  margin-right: 24px;
  padding: 8px 0;
}
.profile {
  border-bottom: 1px solid #eee;
  margin: 0 0 2rem 0;
  padding-bottom: 16px;
  text-align: center;
}
.avatar {
  display: block;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.author {
  margin: 0.825rem 0 0.5rem;
  text-align: center;
  font-size: 1.125rem;
}
.location {
  margin: 0;
  font-size: 0.8rem;
  color: #808080;
}
.social {
  text-align: center;
  font-size: 1.125rem;
}
.item {
  font-size: 1rem;
  overflow: hidden;
  margin: 1.6rem 0;
  padding: 0 2rem;
}
.item:hover {
  color: #e26d6d;
}
.item-date {
  float: left;
  width: 25%;
  text-align: right;
}
.item-date:hover {
  color: #e26d6d;
}
.item-title {
  float: left;
  margin-left: 5%;
  width: 70%;
}
.item-title:hover {
  color: #e26d6d;
}
.search-container {
  display: none;
  position: fixed;
  left: 50%;
  top: 80px;
  z-index: 999;
  width: 700px;
  max-height: 600px;
  margin-left: -350px;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: 8px;
  background: #fff;
}
.search-input {
  margin: 0 auto;
  padding: 14px 0 14px 20px;
  width: 90%;
  height: 28px;
  border: none;
  font-size: 1rem;
  color: rgba(0,0,0,0.8);
  border-bottom: 1px solid #eee;
  outline: none;
}
.search-cancel {
  position: absolute;
  top: 3px;
  width: 18px;
}
.search-cancel:hover {
  color: #e26d6d;
}
.search-result {
  padding: 12px;
  margin: 3px 0;
  overflow: hidden;
}
.search-item {
  margin: 10px 0 12px 0;
  border-bottom: 1px solid #eee;
}
.search-title {
  display: block;
  width: 98%;
  font-size: 1rem;
  padding-left: 12px;
}
.search-title:link,
.search-title:visited,
.search-title:active {
  color: #000;
}
.search-title:hover {
  color: #e26d6d;
}
.search-content {
  padding: 12px;
  margin: 2px 0;
  font-size: 0.825rem;
  color: rgba(0,0,0,0.7);
}
.search-empty {
  margin: 20px 0 24px 0;
  font-size: 1rem;
  text-align: center;
}
.search-empty:hover {
  color: #e26d6d;
}
.search-keyword {
  color: #e26d6d;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
  }
}
.slideUp {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: slideUp;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
.slideDown {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: slideDown;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes slideDownMin {
  0% {
    -webkit-transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
.slideDownMin {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: slideDownMin;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes sildeUpMin {
  0% {
    -webkit-transform: translateY(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1;
  }
}
.sildeUpMin {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: sildeUpMin;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes itemLIn {
  0% {
    -webkit-transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(10px);
  }
}
.itemLIn {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: itemLIn;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes itemRIn {
  0% {
    -webkit-transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}
.itemRIn {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: itemRIn;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes menuSlideIn {
  0% {
    -webkit-transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
.menuSlideIn {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: menuSlideIn;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
@-webkit-keyframes menuSlideOut {
  0% {
    -webkit-transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200px);
  }
}
.menuSlideOut {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: menuSlideOut;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
.scrollIn {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: scrollIn;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0s;
}
.animation-item:hover {
  color: #e26d6d;
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@-o-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@-moz-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-o-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-moz-keyframes slideDownMin {
  0% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slideDownMin {
  0% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-o-keyframes slideDownMin {
  0% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideDownMin {
  0% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes sildeUpMin {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes sildeUpMin {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-o-keyframes sildeUpMin {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes sildeUpMin {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-moz-keyframes itemLIn {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
@-webkit-keyframes itemLIn {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
@-o-keyframes itemLIn {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
@keyframes itemLIn {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
@-moz-keyframes itemRIn {
  0% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-webkit-keyframes itemRIn {
  0% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-o-keyframes itemRIn {
  0% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes itemRIn {
  0% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@-moz-keyframes menuSlideIn {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes menuSlideIn {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-o-keyframes menuSlideIn {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes menuSlideIn {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes menuSlideOut {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
}
@-webkit-keyframes menuSlideOut {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
}
@-o-keyframes menuSlideOut {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
}
@keyframes menuSlideOut {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
}
@-moz-keyframes scrollIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes scrollIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-o-keyframes scrollIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes scrollIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@media screen and (max-width: 479px) {
  h1,
  h2,
  h3 {
    margin: 28px 0;
  }
  h4,
  h5,
  h6 {
    margin: 14px 0;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 14px;
  }
  h5,
  h6 {
    font-size: 12px;
  }
  p {
    margin: 12px 0;
    font-size: 14px;
  }
  .container {
    display: block;
  }
  .container,
  #main {
    clear: both;
    width: 98%;
    margin: 1rem 0;
    padding: 0 0.4em;
  }
  .block {
    margin: 0;
  }
  #toc {
    display: none;
  }
  .header {
    width: 100%;
  }
  .header-nav {
    max-width: 100%;
    height: 50px;
    position: relative;
    text-align: center;
  }
  .header-logo {
    display: inline-block;
    font-size: 22px;
    margin: 0 auto;
  }
  .header-title {
    width: auto;
    max-width: 50%;
    font-size: 18px;
  }
  .header-menu {
    display: none;
  }
  .mobile-toggle {
    display: inline;
  }
  .post {
    padding: 0 0.8em;
  }
  .post-title {
    display: none;
  }
  .post-info {
    margin: 0;
  }
  .nav {
    margin: 1em 0 2em 0;
    height: 60px;
  }
  .nav-prev,
  .nav-next {
    font-size: 15px;
    width: 100%;
    margin: 0.8em 0;
  }
  .nav-prev {
    text-align: left;
  }
  .nav-next {
    text-align: right;
  }
  #donate-box {
    width: 94%;
    top: 50%;
    left: 3%;
    margin-left: 0;
    border-radius: 6px;
  }
  .article {
    margin: 10px 0 40px 0;
  }
  .article-header {
    padding: 0;
    text-align: left;
  }
  .article-header time {
    font-size: 13px;
    padding-left: 6px;
  }
  .article-title {
    margin: 2px 0;
    font-size: 20px;
  }
  .article-excerpt p {
    margin: 12px 0;
    color: rgba(0,0,0,0.8);
    font-size: 13px !important;
  }
  .article-readmore {
    display: none;
  }
  .item {
    margin: 4px 8px;
    padding: 4px;
  }
  .item-date,
  .item-title {
    display: block;
    clear: both;
    text-align: left;
  }
  .item-title {
    max-width: 100%;
    width: 100%;
    margin: 8px 0;
  }
  .meta-block {
    margin: 0;
  }
  .meta-name {
    margin: 1em 0;
  }
  .archive li {
    padding: 0 !important;
  }
  .archive-time {
    position: static;
  }
  .archive-title {
    display: block;
    margin: 1rem 0;
    padding-bottom: 1rem;
  }
  .archive-title a {
    font-size: 1.1rem;
  }
  .tag-wrap {
    margin: 2px 0 8px 0;
  }
  .gallery-box,
  .gallery-brg,
  .gallery-img {
    width: 100%;
  }
  .page-title {
    display: none;
  }
  .back-to-top {
    left: 82%;
    bottom: 10%;
  }
  .prev,
  .next {
    font-size: 14px;
  }
  #footer {
    display: block;
  }
  #footer div {
    margin: 0;
  }
  .search-widget {
    display: none;
  }
  .search-container {
    position: fixed;
    margin: 0 auto;
    left: 0;
    top: 0;
    width: 100%;
    max-height: 85%;
    border-radius: 0;
  }
  .search-input {
    width: 80%;
  }
  .search-result {
    padding: 4px;
    overflow: hidden;
  }
  .search-item {
    margin: 4px 4px 6px 4px;
  }
  .slide-right {
    transform: translateX(200px);
    transition: 0.5s;
  }
  .slide-left {
    transform: translateX(0px);
    transition: 0.5s;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .back-to-top {
    bottom: 10%;
    left: 90%;
  }
  .header-nav {
    max-width: 100%;
    display: block;
  }
  .header-logo {
    float: left;
    display: block;
  }
  .header-logo span {
    display: block;
    line-height: 4rem;
    text-align: center;
  }
  #main {
    width: 100%;
  }
  #post {
    margin: 0 auto;
    width: 94%;
  }
  #toc {
    display: none;
  }
  .gallery-box,
  .gallery-brg,
  .gallery-img {
    width: 100%;
  }
}
